*
# Scan all the folders
!/**/*/
# Python inside source
!/src/**/*.py
# Dokumentation files (README...)
!/*.md
!/doc/**
# License
!/LICENSE
# this file (in all subfolders)
!.gitignore
!.git*
# Pipenv
!Pipfile
!Pipfile.lock
!/.env
# Coding style
!pylintrc
