*
# Scan all the folders
!/**/*/
# Python inside source
!/src/**/*.py
# Stub files for type checking with mypy
!/src/**/*.pyi
# Dokumentation files (README...)
!/*.md
!/doc/**
# License
!/LICENSE
# this file (in all subfolders)
!.gitignore
!.git*
# Pipenv
!Pipfile
!Pipfile.lock
!/.env
# Coding style
!pylintrc
!/*.ps1
flycheck*
