*
#Scan all the folders
!/**/*/
#Python inside Source
!/src/**/*.py
#Dokumentation Files (README...)
!/*.md
#License
!/LICENSE
#this file (in all subfolders)
!.gitignore
!.git*
#Pipenv
!Pipfile
!/.env

