[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
wheel = "*"
pytest = "*"
pyinstaller = "*"

[packages]
zeroconf = "*"
pyudev = "*"
thespian = "*"
flask = "*"
pyserial = "*"
hashids = "*"
pyserial-asyncio = "*"
paho-mqtt = "*"
pyyaml = "*"
appdirs = "*"
overrides = "*"
click = "*"
data-collector = {editable = true, git = "https://github.com/SARAD-GmbH/data_collector.git"}
pywin32 = "*"
keyboard = "*"
polling2 = "*"
pefile = "*"
pyinstaller = "*"
toml = "*"

[requires]
python_version = "3"
