[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
wheel = "*"
pytest = "*"
pyinstaller = "*"

[packages]
zeroconf = "==0.36.2"
pyudev = "==0.22.0"
thespian = "==3.10.5"
pyserial = "==3.5"
hashids = "==1.3.1"
pyserial-asyncio = "==0.5"
paho-mqtt = "==1.5.1"
appdirs = "==1.4.4"
overrides = "==6.1.0"
click = "==8.0.1"
data-collector = {editable = true, ref = "a6812fe3d43a040399480ce2cb290ed8c79836b3", git = "https://github.com/SARAD-GmbH/data_collector.git"}
pywin32 = "==301"
keyboard = "==0.13.5"
polling2 = "==0.5.0"
pefile = "==2021.9.2"
altgraph = "==0.17"
atomicwrites = "==1.4.0"
attrs = "==21.2.0"
bleach = "==4.1.0"
certifi = "==2021.5.30"
charset-normalizer = "==2.0.4"
click-log = "==0.3.2"
colorama = "==0.4.4"
docutils = "==0.17.1"
filelock = "==3.0.12"
future = "==0.18.2"
idna = "==3.2"
ifaddr = "==0.1.7"
importlib-metadata = "==4.8.1"
iniconfig = "==1.1.1"
itsdangerous = "==2.0.1"
keyring = "==23.1.0"
pkginfo = "==1.7.1"
pluggy = "==1.0.0"
py = "==1.10.0"
py-zabbix = "==1.1.7"
pyinstaller = "==4.5.1"
pyinstaller-hooks-contrib = "==2021.3"
pyparsing = "==2.4.7"
pytest = "==6.2.5"
pywin32-ctypes = "==0.2.0"
readme-renderer = "==29.0"
requests = "==2.26.0"
requests-toolbelt = "==0.9.1"
rfc3986 = "==1.5.0"
schedule = "==1.1.0"
six = "==1.16.0"
toml = "==0.10.2"
tqdm = "==4.62.2"
twine = "==3.4.2"
typing-utils = "==0.1.0"
urllib3 = "==1.26.6"
webencodings = "==0.5.1"
zipp = "==3.5.0"
Flask = "==2.0.1"
PyYAML = "==5.4.1"
BitVector = "==3.5.0"
Jinja2 = "==3.0.1"
MarkupSafe = "==2.0.1"
Pygments = "==2.10.0"
Werkzeug = "==2.0.1"

[requires]
python_version = "3"
