[Unit]
Description=Blinking LED indicates waiting for time-sync.target
After=sysinit.target ModemManager.service NetworkManager.service

[Service]
Type=idle
ExecStart=/usr/local/bin/blinking_led
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target