[Unit]
Description=Instrument Server
Wants=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/pi/RegServer/src
ExecStart=/usr/local/bin/start_instrument_server
ExecStop=/usr/local/bin/stop-instrument-server
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
