[Unit]
Description=SARAD Registration Server
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/pi/RegServer/src
ExecStart=/usr/local/bin/start-regserver
Restart=always
RestartSec=3
TimeoutStopSec=7
KillMode=mixed

[Install]
WantedBy=default.target
