[Unit]
Description=Instrument Server
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/pi/RegServer/src
ExecStart=/usr/local/bin/start-regserver
ExecStop=/usr/local/bin/stop-regserver
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
