altgraph==0.17
appdirs==1.4.4
atomicwrites==1.4.0
attrs==21.2.0
BitVector==3.5.0
bleach==4.1.0
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
click-log==0.3.2
colorama==0.4.4
-e git+https://github.com/SARAD-GmbH/data_collector.git@a6812fe3d43a040399480ce2cb290ed8c79836b3#egg=data_collector
docutils==0.17.1
filelock==3.0.12
Flask==2.0.1
future==0.18.2
hashids==1.3.1
idna==3.2
ifaddr==0.1.7
importlib-metadata==4.8.1
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
keyboard==0.13.5
keyring==23.1.0
MarkupSafe==2.0.1
overrides==6.1.0
packaging==21.0
paho-mqtt==1.5.1
pefile==2021.9.2
pkginfo==1.7.1
pluggy==1.0.0
polling2==0.5.0
py==1.10.0
py-zabbix==1.1.7
Pygments==2.10.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pyparsing==2.4.7
pyserial==3.5
pyserial-asyncio==0.5
pytest==6.2.5
pyudev==0.22.0
pywin32==301
pywin32-ctypes==0.2.0
PyYAML==5.4.1
readme-renderer==29.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
schedule==1.1.0
six==1.16.0
thespian==3.10.5
toml==0.10.2
tqdm==4.62.2
twine==3.4.2
typing-utils==0.1.0
urllib3==1.26.6
webencodings==0.5.1
Werkzeug==2.0.1
zeroconf==0.36.2
zipp==3.5.0
